build/
dist/
data/
humap.egg-info/
figs/
__pycache__/
/data/*
/__pycache__/*
*.so
figs_experiments/
experiments/
evaluation/comparison-techniques/*
evaluation/comparison-drill/*
evaluation/comparison-np/*
.DS_Store
reinstall.sh
*.npy 
test.*
.vscode
.ipynb_checkpoints
datasets/*
*.csv